/* basic class */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}

.align-center {
  align-items: center;
}

.just-between {
  justify-content: space-between;
}