:root {
  --color-bg-page: black;
  --color-bg-card: #a7a6a6;
  --color-bg-button: blue;
  --color-font-button: white;
}

body {
  background-color: var(--color-bg-page);
}
main {
  padding-top: 5%;
  height: 95vh;
}
h1,
h2 {
  padding-top: 5%;
  font-size: 2rem;
}

/* class selector */

.wrapper {
  position: relative;
  background-color: var(--color-bg-card);
  border-radius: 20px;
  width: 90%;
  height: 45vh;
}

#card2 {
  width: 70%;
  height: 30vh;
}

.button {
  background-color: var(--color-bg-button);
  color: var(--color-font-button);
}

#startBtn {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 200px;
}

#wordDisplay {
  padding: 1% 0;
  font-size: 2rem;
}