:root {
  --color-bg-page: black;
  --color-bg-card: #e1eef0;
  --color-bg-button: blue;
  --color-font-button: white;
}

body {
  background-color: var(--color-bg-page);
}

main {
  padding-top: 5%;
  height: 900px;
  gap: 2%;
}

h1,
h2 {
  font-size: 2rem;
}

/* basic class */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}

.align-center {
  align-items: center;
}

.just-between {
  justify-content: space-between;
}

.self-just-end {
  justify-self: flex-end;
}

.just-center {
  justify-content: center;
}

.place-center {
  place-items: center;
}

/* class selector */
.container {
  display: grid;
  background-color: var(--color-bg-card);
  border-radius: 20px;
  width: min(90%, 1000px)
}

.textDisplay {
  font-size: 2rem;
}

#wordDisplay {
  padding-top: 5%;
  gap:.5rem;
}

#card0 {
  width: auto;
  height: auto;
  padding: 1rem;
}

#card1 {
  grid-template-rows: 90px 123px 90px 105px;
}

#card2 {
  gap: 0.5rem;
  padding: 2rem;
  min-width: 240px;
  width: auto;
}

.button {
  background-color: var(--color-bg-button);
  color: var(--color-font-button);
  height: 50px;
  width: 100px;
}

#wordDisplay {
  padding: 1% 0;
  font-size: 3rem;
}