:root {
  --color-bg-page: black;
  --color-bg-card: #e1eef0;
  --color-bg-button: blue;
  --color-font-button: white;
}

body {
  background-color: var(--color-bg-page);
  min-height: 100svh;
}

header {
  padding-top: 2rem;
  margin-bottom: 1rem;
}
header > * {
  color: var(--color-font-button);
  text-align: center;
}

h1,
h2 {
  font-size: 2rem;
}

select {
  width: 110px;
}

/* basic class */
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}

.place-center {
  place-items: center;
}

.text-center {
  text-align: center;
}

.self-align-start {
  align-self: self-start;
}
.self-align-end {
  align-self: self-end;
}

/* class selector */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "select"
    "main"
    "result";
  gap: 1rem;
  width: min(90%, 1300px);
  margin: 0 auto;
}

.container {
  display: grid;
  background-color: var(--color-bg-card);
  border-radius: 20px;
}

.textDisplay {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

#wordDisplay {
  padding-top: 5%;
  gap:.5rem;
  padding: 1% 0;
  font-size: 3rem;
}

.main {
  grid-area: main;
  grid-template-rows: 90px 123px 90px 105px;
}

.selections {
  grid-area: select;
}

.result {
  grid-area: result;
  gap: 0.5rem;
  min-width: 240px;
}

.button {
  background-color: var(--color-bg-button);
  color: var(--color-font-button);
  height: 50px;
  width: 100px;
}

@media only screen and (min-width: 460px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "main main"
      "select result";
  }
}

@media only screen and (min-width: 900px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "main select"
    "main result";
  }
}